/* You can add global styles to this file, and also import other style files */
$mt-100: 100px;

h1{
	font-family: sans-serif;
    font-weight: 800 !important;
}
h2{
	font-weight: 700 !important;
	font-family: sans-serif;
}
p{
	font-family: sans-serif;
}
.signin{
    margin-top: $mt-100;
}

// Header start
.navbar-brand{
	font-size: 24px;
    font-weight: 700;
    padding-right: 15px;
	color: black;
}
.signin-btn {
	// background-color: #1cb2e8;
	background-image: linear-gradient(to right, #77A1D3 0%, #79CBCA  100%, #77A1D3  100%);
    color: white !important;
    padding: 7px 25px 7px 25px !important;
}

.get-btn {
	display: block;
	// background-color: #1cb2e8;
	background-image: linear-gradient(to right, #77A1D3 0%, #79CBCA  100%, #77A1D3  100%);
    color: white !important;
    padding: 7px 25px 7px 25px !important;
	width: 60%;
    text-align: center;
    font-weight: 700;
	font-size: 14px;
	text-decoration: none;
}




.navbar{
	background-color: #f2f2f2 !important;
	padding-left: 60px;
    padding-right: 60px;
	padding-top: 1rem !important;
}
.nav-item a{
	font-weight: 600;
	font-size: 15px;
	color: black;
}
.navbar-brand img{
	width: 23%;
}
// Haeder end



/*Home component*/

.d-block {
    // display: block!important;
    margin: auto ;
}
.carousel{
	padding: 110px;
	padding-left: 70px;
	padding-right: 70px;
	background-color: #f2f2f2;

}
.carousel-inner {
    position: relative;
    width: 100%;
    overflow:visible !important; 
}
.carousel-inner h1{
	margin-bottom: 25px;
}
.content{
	background-color: #ffbc58;
}
.bg-block{
	padding-left: 0px!important;
	margin-top: 0px;
}

.router{
	width: 52%;
    display: block;
    transform: scaleX(-1);
    margin: auto;
    margin-top: -20px;
    margin-left: 304px;
}
/*Home component end*/

// logo slider


  
  .container {
	overflow: hidden;



	.slider {
	  animation: slidein 30s linear infinite;
	  white-space: nowrap;
	  background-color: #f2f2f2;
	  margin-top: 80px;
	  .logos {
		width: 100%;
		display: inline-block;
		margin: 0px 0;
		.fab {
		color: #aba6a6 !important;
		  width: calc(100% / 5);
		  animation: fade-in 0.5s 
			cubic-bezier(0.455, 0.03, 0.515, 0.955) forwards;
		}
	  }
	}
  }
.brandslider{
	background-color: #f2f2f2 !important;
}
//   @keyframes slidein {
// 	from {
// 	  transform: translate3d(0, 0, 0);
// 	}
// 	to {
// 	  transform: translate3d(-100%, 0, 0);
// 	}
//   }
  
  @keyframes fade-in {
	0% {
	  opacity: 0;
	}
	100% {
	  opacity: 1;
	}
  }
  

// logo slider end
// map section
.d-map{
	display:block;
	vertical-align: middle;
	width: 100%;
	margin-left: 50px;
}
.mapsection{
	margin-top: 50px;
    margin-bottom: 50px;
    padding: 25px 0px 25px 0px;
}
.mapbtn{
	background-image: linear-gradient(to right, #ed8d21 0%, #f3cda1 100%, #77A1D3 100%) !important; 
}
// map end



// Plans component

.plans-slider{
	background-color: #f2f2f2;
	padding: 70px;
	padding-left: 40px;
	padding-right: 40px;
	
	select{
		margin-top: 20px;
    	width: 50%;
		box-shadow: 8px 4px 15px -8px rgb(0 0 0 / 34%);
		border: 0px solid rgba(0, 0, 0, 0.125) !important;
		border-radius: 6px !important;
		padding: 5px;
		
	
	
	}
	.planheader-con{
		left: 20px;
		margin-left: 90px;
	}
}
.plans-slider h3{
	font-weight: 700;
}
.plans-slider .arrow{
	width: 3%;
    position: absolute;
    right: 39%;
    top: 30%;
    transform: scaleX(-1);
    transform: rotate(54deg) scaleX(-1);
}
.plans-slider .carddeck{
	margin-top: 70px;
	margin-bottom: 20px;
}
.list-group-item {
    position: relative;
    display: block;
    padding: 1.1rem 2rem !important;
    color: #000000;
    text-decoration: none;
    background-color: #fff;
    border: 0px solid rgba(0,0,0,.125) !important;
	border-radius: 15px !important;
	text-align: center;

}
.card{
	-webkit-box-shadow: 8px 9px 37px -20px rgb(0 0 0 / 34%);
	-moz-box-shadow: 8px 9px 37px -20px rgb(0 0 0 / 34%);
	box-shadow: 8px 9px 37px -20px rgb(0 0 0 / 34%);
	border: 0px solid rgba(0,0,0,.125) !important;
	border-radius: 15px !important;
	padding: 20px;
	text-align: center;
	ul > :first-child {
		font-weight: 900 !important;
	  }
}
.card2{
	width: 18rem !important;
    padding: 27px !important;
    background-color: #436f95!important;
    margin-top: -19px !important;

	.list-group-item {
		background-color: #436f95 !important;
		color: white;
		font-weight: 400;
		text-align: center;
		
	
  }
  .card-footer p{
	text-align: center;
	color: white !important;
}
}
.card-footer{
	background-color:transparent !important;
}

// plans compoenet end